@import "_normalize.scss";
@import "_variables.scss";
@import "_swiper.min.scss";
@import "_sprite.scss";

html, body {
	font-family: $mainFont;
	font-size: 16px;
}

//sticky footer
.all-wrapper {
  min-height: 100%;
  margin-bottom: -554px; 
}
.all-wrapper::after {
  content: "";
  display: block;
}
.site-footer, .all-wrapper::after {
  height: 554px; 
}

.top-row {
	padding: 15px 0;
	background: #fff;
	.logo {
		float: left;
		a {
			display: block;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.lang-side {
		float: right;
		margin-top: 30px;
		.phone, .open-callback, .lang-list {
			display: inline-block;
			vertical-align: middle;
		}
		.phone,
		.open-callback {
			color: #000;
			font-size: 14px;
			font-family: $mediumFont;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.open-callback {
			margin: 0 70px 0 45px;
		}
		.lang-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
				a {
					display: block;
					width: 50px;
					height: 23px;
					line-height: 23px;
					text-align: center;
					background: #007cbc;
					text-decoration: none;
					color: #fff;
					font-size: 14px;
					transition: all .2s ease-in-out;
					&:hover, &.active {
						font-family: $boldFont;
						background: #014689;
					}
				}
			}
		}
	}
}

.nav-row {
	background: #015a9c;
	.toggle-mobile {
		display: none;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			float: left;
			line-height: 52px;
			position: relative;
			a {
				padding: 0 30px;
				display: block;
				height: 100%;
				text-decoration: none;
				color: #fff;
				transition: all .2s ease-in-out;
				&:hover {
					background-color: #fff;
					color: #014689;
				}
			}
		}
		li.current-menu-item a {
			font-family: $boldFont;
			background-color: #014689;
			&:hover {
				background-color: #fff;
				color: #014689;
			}
		}
		li:last-child {
			float: right;
		}
		li:last-child a {
			background-image: url(../img/lk-btn.png);
			background-repeat: no-repeat;
			background-position: left 5px center;
			&:hover {
				background-color: #fff;
				background-image: url(../img/lk-btn-hover.png);
			}
		}
	}
}

.home .site-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	.top-row {
		background: transparent;
		.lang-side .phone,
		.lang-side .open-callback {
			color: #fff;
			&:hover {
				color: #007cbc;
			}
		}
	}
	.nav-row {
		background: transparent;
		.main-nav {
			background: rgba(1, 90, 156, .66);
		}
	}
}

.top_block {
	position: relative;
	height: 100vh;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 280px 0;
	.video-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: url(../img/video.jpg) top center no-repeat;
		background-size: cover;
		top: 0;
		left: 0;
	}
	&__content {
		position: relative;
		color: #fff;
		width: 100%;
		h1 {
			margin: 0 0 55px;
			font-size: 34px;
			font-weight: normal;
			line-height: 44px;
		}
		a {
			display: inline-block;
			vertical-align: middle;
			margin-right: 35px;
		}
	}
}

.choose-us {
	background: url(../img/choose-bg.jpg) top center no-repeat;
	background-size: cover;
	padding: 50px 0;
	text-align: center;
	h2 {
		font-size: 28px;
		font-family: $mediumFont;
		margin-top: 0;
	}
	p {
		line-height: 24px;
		margin-bottom: 30px;
	}
	input {
		display: inline-block;
		height: 52px;
		margin: 0 5px;
		transition: all .2s ease-in-out;
	}
	input[type=text] {
		border: 1px solid #80accd;
		outline: 0;
		padding: 0 10px;
		width: 280px;
	}
	input[type=submit] {
		background: #015a9c;
		color: #fff;
		border: 1px solid #015a9c;
		outline: 0;
		width: 180px;
		&:hover {
			background: #fff;
			border-color: #015a9c;
			color: #015a9c;
		}
	}
}

.ideal {
	background: url(../img/ideal-bg.jpg) top center no-repeat;
	background-size: cover;
	padding: 80px 0 70px;
	color: #fff;
	h2 {
		text-align: center;
		line-height: 36px;
		margin: 0;
		font-family: $mediumFont;
		font-size: 28px;
	}
	&__list {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin: 70px 0 0 0;
		padding: 0;
		list-style-type: none;
		& > li {
			width: 26%;
			position: relative;
			padding-bottom: 110px;
			& > div {
				height: 100%;
				border-bottom: 1px solid #639fca;
				padding-bottom: 60px;
			}
		}
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.title {
		margin: 35px 0;
		font-size: 22px;
		font-family: $mediumFont;
	}
	.descr {
		line-height: 24px;
		ul {
			margin: 0;
			padding: 0 0 0 17px;
			list-style-type: disc;
		}
	}
	a {
		position: absolute;
		bottom: 0;
		left: 0;
		&:hover {
			background: rgba(1,90,156,1);
		}
	}
}

.stats {
	padding: 75px 0;
	background: url(../img/stats.png) top center no-repeat;
	background-size: cover;
	h2 {
		font-size: 28px;
		font-family: $mediumFont;
		margin: 0;
	}
	.subheading {
		margin: 50px 0;
		line-height: 24px;
		max-width: 600px;
	}
	&_list {
		margin: 0 0 20px;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		li {
			width: 30%;
			margin-bottom: 40px;
		}
		.inner {
			max-width: 240px;
		}
		.heading {
			display: inline-block;
			border-bottom: 1px solid #7fbddd;
			padding-bottom: 25px;
			margin-bottom: 25px;
			color: #015a9c;
			font-size: 65px;
			span {
				font-size: 16px;
				vertical-align: middle;
				margin-left: 20px;
			}
		}
		p {
			margin: 0;
		}
	}
	a {
		display: inline-block;
		vertical-align: middle;
		margin-right: 35px;
		&.trade:hover {
			border-color: rgba(1,90,156,.66);
			color: rgba(1,90,156,1);
		}
		&.demo {
			border-color: rgba(1,90,156,.66);
			color: rgba(1,90,156,1);
			&:hover {
				color: #fff;
			}
		}
	}
}

.steps {
	padding: 95px 0 70px;
	background: url(../img/steps-bg.jpg) top center no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	h2 {
		font-size: 28px;
		margin: 0 0 95px;
	}
	&-slider {
		overflow: hidden;
		padding: 130px 50px;
		position: relative;
		height: 440px;
	}
	img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
		height: auto;
	}
	p {
		line-height: 24px;
		margin: 0;
	}
	.img-wrap {
		min-height: 75px;
		padding-bottom: 40px;
		position: relative;
		transition: all .3s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			width: 76px;
			height: 1px;
			background: transparent;
			bottom: -10px;
			left: 50%;
			margin-left: -38px;
		}
	}
	.swiper-slide-next .img-wrap {
		margin-bottom: 40px;
		&::after {
			background: rgba(1,90,156,.66);
		}
	}
	.steps-arr {
		width: 35px;
		height: 67px;
		&.swiper-button-prev {
			background-image: url(../img/step-l-arr.png);
			background-repeat: no-repeat;
		}
		&.swiper-button-next {
			background-image: url(../img/step-r-arr.png);
			background-repeat: no-repeat;
		}
	}
	.centered-bg {
		background: url(../img/center-slide-bg.png) no-repeat;
		width: 418px;
		height: 400px;
		position: absolute;
		left: 50%;
		margin-left: -209px;
		top: 50%;
		margin-top: -200px;
	}
	.swiper-slide {
		padding: 0 20px;
	}
}

.news-block {
	padding: 90px 0;
	background: url(../img/news-bg.png) top center no-repeat;
	background-size: cover;
	h2 {
		margin: 0 0 60px;
		text-align: center;
		font-size: 28px;
		font-family: $mediumFont;
	}
	h3 {
		margin: 0 0 30px;
		font-size: 22px;
	}
	.news__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		li {
			width: 48%;
			margin-bottom: 30px;
		}
	}
	.img-side {
		float: left;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.txt-side {
		margin-left: 200px;
		h4 {
			margin: 0;
			a {
				color: #007cbc;
				text-decoration: none;
				line-height: 24px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		p {
			font-size: 15px;
			line-height: 24px;
			margin: 0;
		}
		.date {
			font-size: 13px;
			color: #878787;
		}
	}
	.trading {
		display: block;
		margin: 40px auto 0;
		&:hover {
			border-color: rgba(1,90,156,1);
			color: rgba(1,90,156,1);
		}
	}
}

.app-block {
	padding: 130px 0 80px;
	background: url(../img/app-bg.jpg) top center no-repeat;
	background-size: cover;
	color: #fff;
	h2 {
		margin: 0 0 50px;
		font-size: 28px;
		line-height: 36px;
		font-family: $mediumFont;
		text-align: center;
	}
	p {
		line-height: 24px;
		color: #989898;
		margin: 0 0 25px;
		text-align: center;
	}
	.app__list {
		margin: 50px 0 70px;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		flex-flow: row nowrap;
		p {
			color: #fff;
			margin: 0;
		}
		.heading {
			font-size: 18px;
			font-family: $mediumFont;
		}
		img {
			display: block;
			margin: 20px auto;
			max-width: 100%;
			height: auto;
		}
	}
	a {
		display: block;
		margin: auto;
	}
}

.reasons {
	padding: 80px 0 20px;
	background: url(../img/reasons-bg.jpg) top center no-repeat;
	background-size: cover;
	h2 {
		text-align: center;
		margin: 0;
		font-size: 28px;
		font-family: $mediumFont;
	}
	&__list {
		margin: 60px 0 0 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		li {
			width: 33%;
			text-align: center;
			margin-bottom: 35px;
		}
		.inner {
			max-width: 250px;
			margin: auto;
			p {
				margin: 0;
				font-size: 15px;
			}
		}
		.heading {
			color: #015a9c;
			font-size: 90px;
			span {
				font-size: 16px;
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}
}

.site-footer {
	background: #2c2d33;
	color: #fff;
	padding: 40px 0 0;
	.top__group {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		&-col {
			max-width: 215px;
		}
		.heading {
			font-size: 20px;
			font-family: $mediumFont;
			margin: 0 0 20px;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			margin-bottom: 3px;
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.middle__group {
		padding: 17px 0;
		border-top: 1px solid #165578;
		border-bottom: 1px solid #165578;
		margin: 25px 0 0;
		display: flex;
		justify-content: space-between;
		font-size: 16px;
		line-height: 24px;
		&-col.footer-email {
			padding: 0 50px;
		}
		&-col.footer-phone {
			padding-left: 20px;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 22px 0 0 0;
		}
		.col-heading {
			font-size: 18px;
			margin: 0 0 20px;
			font-family: $mediumFont;
		}
		.footer-email,
		.footer-phone {
			border-left: 1px solid #165578;
		}
		.footer-email a,
		.footer-phone a:not(.callback) {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.callback {
			display: block;
			margin-top: 15px;
		}
	}
	.bottom__group {
		padding: 35px 0;
		& > div {
			max-width: 570px;
		}
		&-lcol {
			float: left;
			ul {
				margin: 0 0 30px;
				padding: 0;
				list-style-type: none;
				li {
					display: inline-block;
					margin-right: 15px;
				}
				a {
					font-size: 15px;
					color: #fff;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			p {
				margin: 0;
				font-size: 12px;
				line-height: 24px;
			}
		}
		&-rcol {
			float: right;
			margin-left: 10px;
			text-align: right;
			p {
				text-align: right;
				font-size: 18px;
				font-family: $mediumFont;
				margin: 0;
			}
			ul {
				margin: 22px 0 0;
				padding: 0;
				list-style-type: none;
			}
			li {
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
				width: 47px;
				height: 47px;
				background: url(../img/footer-social-bg.png) no-repeat;
				border-radius: 50%;
				padding: 6px;
			}
			a {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				transition: all .3s ease-in-out;
				&:hover {
					background-color: #0278b5;
				}
			}
			.vk i{
				@include sprite($vk);
			}
			.fb i{
				@include sprite($fb);
			}
			.twit i{
				@include sprite($twit);
			}
			.youtube i{
				@include sprite($youtube);
			}
			.inst i{
				@include sprite($inst);
			}
		}
	}
}
























