block footer
	footer.site-footer
		.container
			.top__group
				.top__group-col
					p.heading About Company
					ul
						li
							a(href="#") About Us
						li
							a(href="#") Company News
						li
							a(href="#") Our Vision and Mission
						li
							a(href="#") Partnership Programs
						li
							a(href="#") Contact
				.top__group-col
					p.heading Trading accounts
					ul
						li
							a(href="#") Standard NDD
						li
							a(href="#") Tornado STP-DMA
						li
							a(href="#") Personal Analyst
						li
							a(href="#") Trading Accounts Compare
				.top__group-col
					p.heading Trader's instruments
					ul
						li
							a(href="#") Trading platforms
						li
							a(href="#") MQL Signals
						li
							a(href="#") Trading Robots
				.top__group-col
					p.heading Analytics
					ul
						li
							a(href="#") Market Review
						li
							a(href="#") Economic Calendar
						li
							a(href="#") Analytics
						li
							a(href="#") Trading Ideas
				.top__group-col
					p.heading Education and support
					ul
						li
							a(href="#") Deposit and Withdrawals
						li
							a(href="#") Video Tutorials
						li
							a(href="#") FAQ
			.middle__group
				.middle__group-col
					a(href="#")
						img(src="img/footer-logo.png", alt="")
					p.slogan Innovative solutions in the FOREX market
				.middle__group-col
					p.col-heading Address
					p FGMarkets Main Office: <br>Vantu House, 133 Santina <br>Parade, Elluk,Prl Vila, Efata, Vanuatu.
				.middle__group-col.footer-email
					p.col-heading Mail
					a(href="mailto:info@fgmarkets.com") info@fgmarkets.com
				.middle__group-col.footer-phone
					p.col-heading Phone
					a(href="tel:44 203-76-91-040") 44 203-76-91-040
					a.callback.btn-blue(href="#") Callback
			.bottom__group.cf
				.bottom__group-lcol
					ul
						li
							a(href="#") Terms&amp;Conditions
						li
							a(href="#") Privacy Policy
						li
							a(href="#") Risk Diskclaimer
					p © 2013 Brand by Shares authorized and regulated by SVGIFSA. 2013 reg.AsOOOOOl IBC 2013<br> Address: The Jaycees Building, Stoney Ground, Kingstown, Saint Vincent and the Grenadines, West Indies
				.bottom__group-rcol
					p Follow us
					ul
						li.vk
							a(href="#")
								i
						li.fb
							a(href="#")
								i
						li.twit
							a(href="#")
								i
						li.youtube
							a(href="#")
								i
						li.inst
							a(href="#")
								i


























