block header
	header.site-header
		.top-row
			.container.cf
				.logo
					a(href="#")
						img(src="img/logo-index.png", alt="")
				.lang-side
					a.phone(href="tel:7 (001) 002-03-04") 7 (001) 002-03-04
					a.open-callback(href="#") Callback
					ul.lang-list
						li
							a(href="#") Rus
						li
							a.active(href="#") Eng
						li
							a(href="#") Vtm
		.nav-row
			.container
				nav.main-nav.cf
					button.toggle-mobile
						span
						span
						span
					ul.cf
						li.current-menu-item
							a(href="#") Home
						li
							a(href="#") Accounts
						li
							a(href="#") Products
						li
							a(href="#") Trading platforms
						li
							a(href="#") About Us
						li.cabinet
							a(href="#") Personal cabinet

