extends _layout
block vars
	- var bodyClass = 'home';
block content
	main.main-content.cf(role="main")
		section.top_block
			.video-overlay
			.top_block__content
				.container
					h1 Innovative solutions <br>in the financial markets for those,<br>who know the value of money
					a.trading.btn-blue(href="#") Open trading account
					a.demo.btn-white(href="#") Open demo account
		section.choose-us
			.container
				h2 Over hundreds of thousands of customers have chosen us as their main broker
				p All services of FGMarkets are based on the latest technology and meet the highest standards of professional market participants. Comfort and security of financial transactions are our main priorities
				form
					input(type="text" placeholder="777 777 777")
					input(type="submit" value="Call me")
		section.ideal
			.container
				h2 Ideal job options<br>for both: beginners and professionals
				ul.ideal__list
					li
						div
							img(src="img/ideal1.png", alt="")
							p.title For beginners
							.descr Introductory live trading account allows to try your own hand at Forex and / or start trading on small amounts in real market conditions without risks.
						a.open-acc.btn-blue(href="#") Open trading account
					li
						div
							img(src="img/ideal2.png", alt="")
							p.title Advanced traders
							.descr
								| Direct ECN-DMA is an ideal solution for advanced traders, three key benefits of which are:
								ul
									li The best price on the basis of Best Bid Ask due to absolutely transparent pricing;
									li Reliable method of direct execution of orders ECN - DMA bypassing a broker;
									li High speed of execution of orders - 150 millisecond.
						a.open-acc.btn-blue(href="#") Open trading account
					li
						div
							img(src="img/ideal3.png", alt="")
							p.title Top traders
							.descr Service «Premium Customer Care» is intended for advanced top traders. Help is provided by professional analysts and consultants.
						a.open-acc.btn-blue(href="#") Open trading account
		section.stats
			.container
				h2 The most advanced online broker<br>on the world market
				p.subheading Using of the latest technologies contributes to the realization of the basic concepts of FGMarkets - affordable and quality services for the access to financial markets
				ul.stats_list
					li
						.inner
							.heading 95
								span %
							p Average profitability for 2014
					li
						.inner
							.heading 0,15
								span sec
							p Average time of order execution
					li
						.inner
							.heading 92
								span application
							p Average number of withdrawals per day
					li
						.inner
							.heading 85
								span people
							p Professional experts in our team
					li
						.inner
							.heading 92
								span %
							p Of people become our clients after first try
					li
						.inner
							.heading 1
								span ml of dollars
							p Average profitability of our clients for the last year
				a.btn-blue.trade(href="#") Open trading account
				a.btn-white.demo(href="#") Open demo account

		section.steps
			.container
				h2 Five simple steps to your first profit
				.steps-slider
					.swiper-wrapper
						.swiper-slide
							.img-wrap
								img(src="img/slide1.png", alt="")
							p Withdraw money in a few clicks, and partly reinvest for further growth.
						.swiper-slide
							.img-wrap
								img(src="img/slide2.png", alt="")
							p You register or contact our manager for a free consultation.
						.swiper-slide
							.img-wrap
								img(src="img/slide3.png", alt="")
							p Open trading account and select the appropriate service.
						.swiper-slide
							.img-wrap
								img(src="img/slide1.png", alt="")
							p You register or contact our manager for a free consultation.
					.swiper-button-next.steps-arr
					.swiper-button-prev.steps-arr
					.centered-bg
		section.news-block
			.container
				h2 Use the free advice of professionals and make the correct conclusions
				h3 News
				ul.news__list
					li.cf
						.img-side
							a(href="#")
								img(src="img/news1.jpg", alt="")
						.txt-side
							h4
								a(href="#") Ministry of Economic Development has estimated the impact of lifting the...
							p The current obsession with "sovereign foreign policy", but in fact...
							p.date 11/08/2016
					li.cf
						.img-side
							a(href="#")
								img(src="img/news2.jpg", alt="")
						.txt-side
							h4
								a(href="#") MED downgraded growth in oil demand in 2017
							p IEA experts predict that in 2017 the daily demand for oil...
							p.date 11/08/2016
					li.cf
						.img-side
							a(href="#")
								img(src="img/news3.jpg", alt="")
						.txt-side
							h4
								a(href="#") Bloomberg saw signs of Russia's withdrawal from the longest recession
							p After a series of "false starts" Russia's economy is finally turned on....
							p.date 11/08/2016
					li.cf
						.img-side
							a(href="#")
								img(src="img/news4.jpg", alt="")
						.txt-side
							h4
								a(href="#") Saudi Arabia has set a new record for oil production
							p Saudi Arabia in July reached a record level of oil production —...
							p.date 11/08/2016
				a.trading.btn-blue(href="#") Open trading account
		section.app-block
			.container
				h2 Powerful cross-platform MT4 trading system helps to do a better job and speed up the decision-making
				p MT4 (MetaTrader 4) is a multifunctional software tool that allows you to almost completely automate the work on Forex. This trading system in real time carries out a number of operations, including a technical analysis of the situation, providing a timely and accurate response to any changes.
				p MT4 is universal. It is suitable for all current operating systems (Windows, Mac OS, Linux, Android, iOS) and is compatible with the major browsers, and can be easily installed on any devices - tablets, smartphones, PCs.
				ul.app__list
					li
						p.heading For PC
						img(src="img/windows.png", alt="")
						p.name Windows
				a.demo.btn-white(href="#") Try demo version
		section.reasons
			.container
				h2 Eight good reasons to open an account with us now
				ul.reason



		


block inlineScripts